@page
@model IndexModel
@{
    ViewData["Title"] = "Список книг";
}

<h1>Список книг</h1>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Издательство</th>
            <th>Год издания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publisher</td>
                <td>@book.YearPublished</td>
            </tr>
        }
    </tbody>
</table>
