@page
@model IndexModel
@{
    ViewData["Title"] = "Список книг";
}


<h1>Список книг</h1>

<form method="get">
    <div class="form-group">
        <label for="searchTitle">Название книги</label>
        <input type="text" class="form-control" id="searchTitle" name="SearchTitle" value="@Model.SearchTitle">
    </div>
    <div class="form-group">
        <label for="searchAuthor">ФИО автора</label>
        <input type="text" class="form-control" id="searchAuthor" name="SearchAuthor" value="@Model.SearchAuthor">
    </div>
    <div class="form-group">
        <label for="searchGenre">Жанр</label>
        <input type="text" class="form-control" id="searchGenre" name="SearchGenre" value="@Model.SearchGenre">
    </div>
    <div class="form-group">
        <label for="searchPublisher">Издательство</label>
        <input type="text" class="form-control" id="searchPublisher" name="SearchPublisher" value="@Model.SearchPublisher">
    </div>
    <div class="form-group">
        <label for="searchYear">Год издания</label>
        <input type="number" class="form-control" id="searchYear" name="SearchYear" value="@Model.SearchYear">
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
    <a href="/Index" class="btn btn-secondary">Показать все</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Издательство</th>
            <th>Год издания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publisher</td>
                <td>@book.YearPublished</td>
                <td>
                    <a href="/Edit/@book.Title" class="btn btn-primary">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>