@model EmployeePortal.Models.Employee

<h2>Сотрудник успешно создан</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">ФИО</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Должность</dt>
        <dd class="col-sm-10">@Model.Position</dd>

        <dt class="col-sm-2">Отдел</dt>
        <dd class="col-sm-10">@Model.Department</dd>

        <dt class="col-sm-2">Дата приема</dt>
        <dd class="col-sm-10">@Model.HireDate?.ToShortDateString()</dd>

        <dt class="col-sm-2">Дата рождения</dt>
        <dd class="col-sm-10">@Model.DateOfBirth?.ToShortDateString()</dd>

        <dt class="col-sm-2">Тип</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Пол</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">Зарплата</dt>
        <dd class="col-sm-10">@Model.Salary</dd>
    </dl>

    <a asp-action="List">Назад к списку</a>
</div>